<template>
    <div class="item">
        <sticker :title="title" :unit="unit" :value="value" />
        <button class="add-button" @click="plusOne">add</button>
        <span v-if="isShow">Show span</span>
    </div>
</template>

<script>
    import Sticker from './Sticker.vue'
    export default {
        components: {
            Sticker
        },
        props: {
            title: {
                type: String
            },
            unit: {
                type: String
            },
            varName: {
                type: String,
            },
            isShow: {
                type: Boolean,
                required: false,
            }
        },
        data() {
            return {
                value: 0
            }
        },
        methods: {
            plusOne() {
                this.value += 1
                this.$emit('updated', this.value, this.varName)
            }
        },
    }
</script>

<style scoped>
    #app .item {
        width: 220px;
        margin: 0px 10px;
        float: left;
    }

    #app .add-button {
        width: 100px;
        margin: 10px;
        padding: 5px;
        background: #B7C4C8;
        border-radius: 3px;
        color: #666;
        font-size: 20px;
        border-style: none;
    }
    #app .add-button:hover {
        background: #17ac2b;
    }
</style>