<template>
    <div class="item">
        <h2>{{ title }}</h2>
        <p>
            <span class="value">{{ value }}</span>
            <span>[ {{ unit }} ]</span>
        </p>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String
            },
            value: {
                type: Number,
                default: 0
            },
            unit: {
                type: String
            }
        }
    }
</script>

<style scoped>
    #app .item {
        border: solid #666 1px;
        border-radius: 5px;
        margin: 20px;
        width: calc(100% - 40px);
    }

    #app h2 {
        font-size: 25px;
        text-align: left;
        margin: 0px 10px;
    }

    #app .value {
        font-size: 48px;
        padding: 0px 10px;
    }
</style>