<template>
    <div id="app">
        <h1 >Production Result</h1>
        <sticker :title="'Total'" :unit="'product'" :value="good + bad" />
        <sticker :title="'Bad %'" :unit="'%'" :value="percent"/>
        <counter :title="'Good'" :unit="'product'" varName="good" is-show @updated="commit" />
        <counter :title="'Bad'" :unit="'product'" :varName="'bad'" is-show @updated="commit"/>
    </div>
</template>

<script>
    import Sticker from '@/components/Sticker.vue'
    import Counter from '@/components/Counter.vue'
    export default {
        components: {
            Sticker,
            Counter
        },
        data () {
            return {
                good: 0,
                bad: 0,
            }
        },
        computed: {
            percent () {
                return Number((this.bad / (this.good + this.bad) * 100).toFixed(2)) || 0
            }
        },
        methods: {
            commit (newValue, variable) {
                this[variable] = newValue
            }
        }
    }
</script>

<style scoped>
    #app  {
        width: 500px;
        height: 550px;
        border-radius: 5px;
        margin: auto;
        padding: 5px;
        font-size: 20px;
        color: #000000;
        background: #fdfff8;
    }
</style>
